/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
    color: #000;
    background: #f8f8f8;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}



.intro-message {
    position: relative;
    padding-top: 2%; 
}

.main-background {
    background: #fff;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding-bottom: 20px;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}


.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

/* additional */
.img-responsive{
    width: 100%;
    height: 100%;
}
.btn-download-viddy{
    background: #FFC200;
}
.btn-download-viddy:hover{
    background: #FFC200;
}
.main-desc{
    padding-bottom: 20px;
}
.mvic-info{ 
}
.mvici-left{
    float: left;
}
.mvici-right{
    float: left;
    padding-left: 40px;
}
.desc-viddy{
    color: #777;
}
.block-trailer{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px
}
h3.titleviddy {
    font-size: 20px;
    line-height: 35px;
    margin: 0;
    margin-bottom: 10px;
    display: initial;
    margin-right: 10px;
}
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.caption p{
    color: #eee
}
.label-viddy-orange {
    background: orange;
}
.thumbnail.no-border {
    display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background:none;
    border: 0px solid #ddd;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.canvas-viddy-desc{
    padding-bottom: 20px;
}
.no-getter{
    margin-left: -30px;
    margin-right: -30px;
}

video {
  width: 100%    !important;
  height: auto   !important;
}



iframe{
    overflow:hidden;
}

.videobox .viddy-cover {
    height: 500px;
    width: 100%;
    position: relative;
}
.videobox a{
    cursor: pointer;
}

.thumb {
    background-position: 50% 25%;
    background-size: cover;
    display: inline-block;
}

.videobox .viddy-view-dummy {
    position: absolute; 
    color: #fff; 
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    z-index: 9;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    text-align: right; 
    bottom: 20px;
}

.videobox .viddy-cover:before {
    content: "";
    width: 110px;
    height: 110px;
    background-image: url(http://123movies.to/assets/images/btn-overlay.png);
    background-position: 50% 25%;
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -55px;
    margin-left: -55px;
    left: 50%;
    z-index: 2;
    border-radius: 55px;
    border: 6px solid rgba(255,255,255,1);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
 
.navbar{
    position: relative;
    min-height: 30px;
    margin-bottom: 0px;
    border: 1px solid transparent; 
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
  width: auto;
  font-weight: bold;

  text-transform: uppercase;
}

.mega-dropdown {
  position: static !important;
  /*width: 100%;*/
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 60%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal; 
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.wpviddy-ads1{
  text-align: center;
  margin: 0 auto;
}

.box-thumb-images{ 
  min-height:320px;
  max-height: 340px;  
}

/*
  BOX SEARCH
*/
.box-search{ 
  padding: 10px
}
.box-search-input {
    display: inline-block;  
    height: 34px;
    padding: 0px 8px; 
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding: 5px;
}
::-moz-placeholder { /* Firefox 19+ */
  padding: 5px;
}
:-ms-input-placeholder { /* IE 10+ */
  padding: 5px;
}
:-moz-placeholder { /* Firefox 18- */
  padding: 5px;
}
.navbar-collapse-no-right{
  padding-right: 0;
}

.fb-comment{
    background: #fff;
}