@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
    margin: 0;
    padding: 0;     
} 

.tm-article-subtitle { 
  font-size: 16px;
  line-height: 16px; 
  border-bottom: 1px solid #bbb; 
  background: #eee;
  padding: 10px
}
 
.uk-panel.uk-panel-box{ 
    background: #F6F7F9;
    background-color: #F6F7F9;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
    padding: 20px 15px !important;
    margin-top: 10px;
}


.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
.dropdown ul {
    margin: -1px 0 0 0;
}
.dropdown dd {
    position:relative;
}
.dropdown a, 
.dropdown a:visited {
    color:#fff;
    text-decoration:none;
    outline:none;
    font-size: 12px;
}

.dropdown dt a {
    background-color:#4F6877;
    display:block; 
    overflow: hidden; 
    padding: 20px 20px 0 10px;
    line-height: 5px;
    border:0;
    width:272px;
}
.dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 0; 
}
.dropdown dd ul {
    background-color: #4F6877;
    border:0;
    color:#fff;
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:280px;
    list-style:none;
    height: 100px;
    overflow: auto;
}
.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:5px;
    display:block;
}
.dropdown dd ul li a:hover {
    background-color:#fff;
}
 
input:not([type]).uk-form-large, input[type].uk-form-large, select.uk-form-large, textarea.uk-form-large {
    height: 40px;
    padding: 8px 6px;
    font-size: 12px; 
}

.uk-form-stacked-custome .uk-form-row .uk-form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}
